body {
    text-align: center;
}

p {
    color: skyblue;
}

.container{
    
    width: 60%;
    border: grey solid 2px;
    padding: 5rem;
}

.cabecera {
    color: darkgrey;
    text-align: left;
}